@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
    font-family: 'Raleway', sans-serif;
}

.feedback__alert {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    /* border-radius: 30px; */
    border-bottom: solid orange 1px;
    transform: translate(-50%, -50%);
}

.feedback__alert #feedback__alert__close {
    position: absolute;
    z-index: 10;
    right: 14px;
    top: 4px;
    fill: black;
}

.feedback__alert #feedback__alert__close:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.feedback__alert .image {
    background-image: url("../images/login_res.jpg");
    width: 100%;
    height: 150px;
    /* filter: blur(2px); */
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
}

.feedback__alert__msg {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
}

.unhide {
    border: solid 1px orange;
    padding: 4px;
    display: block;
    top: 50%;
    width: 300px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.cart__small {
    display: none;
}

.cart__2__close {
    position: absolute;
    right: 10px;
}

.cart__2__close:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.blur {
    filter: blur(3px);
}

a {
    text-decoration: none;
}

.ham {
    display: none;
}

.ham__items {
    display: none;
}

.ham__items .logout {
    display: flex;
    /* border: solid; */
    align-items: center;
    padding: 4px;
    width: 105px;
    justify-content: space-between;
}

.ham__unhide {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    z-index: 100;
    height: 250px;
    width: 200px;
    display: inline-block;
    color: cornsilk;
    background-image: linear-gradient(125deg, rgba(252, 147, 9, 0.6), #EFB319);
    padding: 8px;
}

.ham__items #close {
    position: absolute;
    right: 10px;
    top: 13px;
    fill: white;
    filter: brightness(2);
}

.ham__items #close:hover {
    cursor: pointer;
    transition: ease-in .2s;
    transform: scale(1.2);
}

.ham__items__btn {
    /* border: solid; */
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: .8em;
}

.ham__items a {
    color: cornsilk;
    font-size: 1.6em;
}

.ham__items .ham__search:hover {
    transform: scale(1.05);
}

.ham__profile {
    font-size: 1.6em;
}

.ham__profile:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: black;
    fill: black;
}

.profile__tab {
    height: 100vh;
    width: 300px;
    position: absolute;
}

.profile__tab__close__div {
    position: absolute;
    z-index: 10000;
}

.profile__tab__img {
    background-image: url(../images/piza.jpg);
    background-position: center;
    filter: blur(1px);
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1000;
    /* border: solid; */
}

.profile__tab__content {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* border: solid; */
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 280px;
    top: 0;
    left: 0;
    background-color: #171A29;
    /* left: 2%; */
    align-items: center;
    justify-content: center;
}

.profile__tab__content_arng {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
}

.pro_tab {
    border: solid orange 3px;
    padding: 8px;
    background-color: ivory;
    border-radius: 50px;
}

.profile__tab__menu {
    color: ivory;
    background-color: orange;
    border: solid 4px white;
    text-align: center;
    /* border: none; */
}

.profile__tab__menu a {
    color: ivory;
}

#profile__tab__close {
    position: fixed;
    z-index: 10000;
    left: 235px;
    top: 10px;
    fill: #fff;
    transition: 0.3s ease-in;
}

#profile__tab__close:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container {
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 4px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100000;
    /* border: solid; */
    top: 0;
}

nav .brand {
    color: rgb(124, 175, 108);
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    /* border: solid black 2px; */
}

nav .brand:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

nav .nav__right {
    background-image: linear-gradient(125deg, rgba(252, 147, 9, 0.6), #EFB319);
    width: 200px;
    display: flex;
    padding: 3px 0;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

nav .logout {
    display: flex;
    /* border: solid; */
    align-items: center;
    padding: 4px;
    width: 100px;
    justify-content: space-between;
}

nav a {
    color: white;
    font-size: 18px;
    font-weight: 900;
}

nav .nav__right .profile__btn {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

nav .nav__right .profile__btn:hover {
    cursor: pointer;
}

.header__image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px auto;
    height: 426px;
    /* flex-direction: column; */
    /* border: solid red 4px; */
}

.header__image img {
    max-width: 600px;
}

.orange {
    color: orange;
}

.profile__tab__menu:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: orange;
    /* color: black; */
    border: solid 3px white;
}

.hide {
    display: none;
}

.rest__dis {
    /* border: solid red; */
    width: 300px;
    margin-top: 80px;
    padding: 70px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #171A29;
    color: #fff;
}

.rest__dis__content {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    padding: 10px 0;
    font-family: "Raleway", sans-serif;
}

.rest__dis__location {
    margin-top: 25px;
}

.cart__icon {
    display: none;
}

.menu {
    /* border: solid 1px; */
    width: 900px;
    position: absolute;
    left: 350px;
    top: 100px;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
}

.no__orders {
    width: 900px;
    position: absolute;
    left: 350px;
    top: 100px;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: #222222
}

.card {
    border: solid 1px orange;
    /* margin: 30px auto; */
    padding: 6px;
    min-height: 180px;
    display: flex;
    max-width: 1400px;
    font-family: "Raleway", sans-serif;
    position: relative;
    margin-bottom: 30px;
}

.card__left {
    /* border: solid; */
    display: flex;
    align-items: center;
}

.card__left img {
    width: 280px;
}

.card__right {
    /* border: solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.rest__name {
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: space-between;
}

.rest__name .rest__feedback {
    /* margin: 4px 10px; */
    transform: translateY(20%);
}

.rest__name .rest__feedback:hover {
    cursor: pointer;
    transition: ease 0.3s;
    transform: scale(1.02);
}

.rest__category {
    color: grey;
}

.rest__dish__items {
    font-size: 0.9em;
    padding: 0;
    margin-top: 6px;
    line-height: 20px;
    /* border: slategray solid; */
}

.rest__dish {
    display: flex;
    justify-content: space-between;
}

.rest__total__price {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px orange solid;
    margin-bottom: 30px;
}

.card .card__response__tab {
    /* border: solid; */
    position: absolute;
    bottom: 30px;
    right: 160px;
}

.card .card__response__tab button {
    /* border: solid orange; */
    padding: 2px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    font-size: 1em;
    width: 150px;
    position: absolute;
}

.card .card__response__tab button:disabled {
    background-color: ivory;
    color: black;
}

.card .card__response__tab button:hover:disabled {
    transform: none;
    background-color: none;
}

.card .card__response__tab__accept {
    border: solid 1px green;
    background-color: rgb(97, 192, 97);
    color: ivory;
    transition: 0.2s ease-in;
    z-index: 100;
}

.card .card__response__tab__accept:hover {
    background-color: ivory;
    color: green;
    cursor: pointer;
    transform: scale(1.05);
}

.card .card__response__tab__delivered {
    border: solid 1px black;
    transition: 0.2s ease-in;
}

.card .card__response__tab__delivered:hover {
    background-color: ivory;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
}

.card__response__tab__delivered::after {
    padding-left: 6px;
    display: none;
    content: "\2714";
}

.menu__dish {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
    border-bottom: solid rgb(224, 221, 221) 1px;
    padding-bottom: 12px;
}

.menu__dish__right {
    /* border: 1px rgba(0, 0, 0, 0.5) solid; */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 3px;
    /* padding: 2px; */
}

.menu__dish__right:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(25px);
    /* box-shadow: rgba(104, 255, 4, 0.5) 2px 2px 2px inset; */
    /* border: solid 1px orange; */
    padding: 1px;
}

.dish__price {
    color: rgb(138, 136, 133);
}

footer {
    /* display: block; */
    background-color: black;
    color: #fff;
    font-family: "Raleway", sans-serif;
    padding: 8px 16px;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 100000;
    width: 100%;
    /* margin-top:20% ; */
    filter: opacity(.7);
}

footer:hover {
    display: block;
}

@media only screen and (min-width:1350px) {}

@media only screen and (max-width:1350px) {
    .menu {
        width: 900px;
    }
    .cart {
        top: 20%;
    }
    .rest__dis {
        position: fixed;
    }
}

@media only screen and (max-width:1250px) {
    .menu {
        width: 800px;
    }
}

@media only screen and (max-width:1150px) {
    .menu {
        width: 700px;
    }
}

@media only screen and (max-width:1030px) {
    .menu {
        width: 600px;
    }
}

@media only screen and (max-width:950px) {
    .rest__dis {
        width: 100%;
        position: relative;
    }
    .menu {
        position: absolute;
        border: none;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 700px;
    }
}

@media only screen and (max-width:840px) {}

@media only screen and (max-width:780px) {
    .user__feed {
        grid-gap: 2px;
    }
    .rest__card {
        /* border: solid; */
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:740px) {
    .user__feed {
        grid-template-columns: 1fr 1fr;
        max-width: 550px;
    }
}

@media only screen and (max-width:700px) {
    .menu {
        position: absolute;
        border: none;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
    }
}

@media only screen and (max-height:600px) {
    .rest__display {
        position: relative;
        margin-top: 50px;
        min-height: 700px;
    }
    .rest__display__content {
        top: 30%;
    }
}

@media only screen and (max-width:590px) {
    .card {
        flex-direction: column;
        align-items: center;
        /* width: 500px; */
        /* margin: 10px auto; */
    }
    .rest__total__price {
        margin-bottom: 30px;
    }
    .card__response__tab__accept {
        position: relative;
        margin: 0 auto;
    }
    .card__left img {
        width: 230px;
    }
}

@media only screen and (max-width:560px) {
    .header__image__right {
        font-size: 2em;
    }
    nav .nav__right {
        display: none;
        /* border: solid; */
    }
    .ham {
        display: inline-block;
        padding: 4px 18px;
        transition: 0.3s ease-out;
    }
    .ham:hover {
        cursor: pointer;
        transform: scale(1.08);
    }
    .cart__icon {
        /* border: solid white; */
        margin: 40px;
    }
    .menu {
        top: 650px;
        width: 400px;
    }
}

@media only screen and (max-width:400px) {
    .menu {
        width: 300px;
    }
    .feedback__alert {
        width: 350px;
    }
}

a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: green;
    color: white;
}

@media only screen and (max-width:350px) {
    .header__image__right {
        font-size: 1.5em;
    }
    .rest__display__image {
        margin-top: 50px;
    }
    .rest__display__content {
        margin-top: 120px;
    }
    .cart__icon {
        /* border: solid red; */
        transform: translateY(-50%);
    }
    .feedback__alert {
        width: 300px;
    }
}