@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
    font-family: 'Raleway', sans-serif;
}

a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: green;
    color: white;
}

.add__dishes__popup {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    /* border-radius: 30px; */
    border-bottom: solid orange 1px;
    transform: translate(-50%, -50%);
}

.add__dishes__popup #add__dishes__popup__close {
    position: absolute;
    z-index: 10;
    right: 14px;
    top: 4px;
    fill: white;
}

.add__dishes__popup #add__dishes__popup__close:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.add__dishes__popup form {
    display: flex;
    flex-direction: column;
    /* border: solid; */
    width: 100%;
    transform: translateY(100%);
}

.add__dishes__popup .image {
    background-image: url("../images/pizaalert.jpg");
    width: 100%;
    height: 150px;
    filter: blur(2px);
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
}

.add__dishes__popup input,
button {
    /* border-radius: 8px; */
    margin: 8px auto;
    border: solid ORANGE 1PX;
    padding: 4px;
    width: 250px;
    font-family: "Raleway", sans-serif;
}

.add__dishes__popup button {
    background-color: chartreuse;
    color: white;
    font-weight: 800;
    font-size: larger;
    border: solid 1px green;
    transition: ease-in-out 0.3s;
}

.add__dishes__popup button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.add__dishes__popup input::before {
    content: "12";
}

.add__dishes__popup input[type=number]::-webkit-inner-spin-button,
.add__dishes__popup input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.unhide {
    border: solid 1px orange;
    padding: 4px;
    display: block;
    top: 50%;
    width: 300px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.menu {
    border-top: solid 1px;
    width: 900px;
    position: absolute;
    left: 150px;
    top: 100px;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
}

.menu__dish {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
    border-bottom: solid rgb(224, 221, 221) 1px;
    padding-bottom: 12px;
    font-size: 18px;
    color: black;
}

.menu__add__dishes {
    display: flex;
    justify-content: center;
}

.menu__add__dishes button {
    border: solid rgb(51, 245, 51) 1px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    background-color: #48C479;
    transition: 0.3s ease;
}

.menu__add__dishes button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.form1 {
    display: block;
    text-align: center;
}