<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/u_login.css">

    <title>Document</title>
</head>

<body>
    <div class="main__body">

        <div class="main__body__right">

            <div class="form">
                <form action="/users/login" method="POST">
                    <input type="email" required placeholder="username" name="email" id="email_inp">
                    <input type="password" required placeholder="password" name="password" id="password_inp">
                    <button type="submit">Login</button>
                </form>
                <div class="form__footer">
                    <a id="create_an_acc" href="/users/signup">Create an account</a>
                </div>
            </div>

        </div>

    </div>

</body>
</body>

</html>