<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/search.css">

    <title>Document</title>
</head>

<body>
    <div class="search__tab">
        <p>Discover Best Restaurants in town</p>
        <form action="">
            <div class="search__tab__1">
                <input type="text" placeholder="Search Restaurants, dishes">
                <select name="" id="">
                    <option value="">Restaurants</option>
                    <option value="">Dishes</option>
                    <option value="">Category</option>
                
                </select>
            </div>
            <div class="search__tab__2">
                <button type="submit">Search </button>
            </div>

        </form>

        <div class="rest__card">
            <img width="229px" src="images/rest_card_1.jpg" alt="">
            <div class="rest__name">T India Cafe and Bakery</div>
            <div class="rest__rating">
                <svg width="15px" fill="white" id="Capa_1" enable-background="new 0 0 448.941 448.941" viewBox="0 0 448.941 448.941" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m448.941 168.353h-161.338l-63.132-168.353-63.132 168.353h-161.339l121.478 106.293-65.36 174.295 168.353-84.176 168.353 84.176-65.361-174.296z" />
                </svg>4.5</div>
            <div class="rest__category">
                <p>Fast food</p>
            </div>
            <div class="rest__location">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

        </div>
</body>

</html>